# ignore system files
**/.DS_Store


# ignore all exklusive .png sprites in specific folders and subfolders
assets/img/background/**/*.png
assets/img/character/**/*.png
assets/img/monsters/**/*.png
assets/img/ornaments/**/*.png