# ignore system files
**/.DS_Store


# ignore all exclusive .png sprites in specific folders and subfolders
assets/img/background/**/*.png
assets/img/character/**/*.png
assets/img/monsters/**/*.png
assets/img/ornaments/**/*.png
assets/img/carousel/**/*.png
assets/img/main/**/*.png
assets/img/main/**/*.svg

js/templates.js