@font-face {
    font-family: "Inter";
    src: url('../assets/fonts/inter-variable-font.ttf');
}

@font-face {
    font-family: "Fira Code";
    src: url('../assets/fonts/firacode-variable.ttf');
}


h2 {
    font-size: 1.75rem;
    line-height: normal;
}

h3 {
    font-size: 1.5rem;
    line-height: unset;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: hsla(210, 1%, 67%, 70%);
}

a {
    text-decoration: none;
    color: var(--base-content);
}

@media screen and (max-width: 30rem) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}