@font-face {
    font-family: "Inter";
    src: url('../assets/fonts/inter-variable-font.ttf');
}

@font-face {
    font-family: "Fira Code";
    src: url('../assets/fonts/firacode-variable.ttf');
}

h2 {
    font-size: 1.75rem;
    line-height: unset;
}

h3 {
    font-size: 1.5rem;
    line-height: unset;
}

p {
    font-weight: 300;
    color: hsla(210, 1%, 67%, 65%);
}