header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0c0d0e;
    backdrop-filter: blur(0.25rem);
    height: 5rem;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 96rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    height: 3rem;
    width: auto;
}

.setting-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ! TOOLTIP STYLING */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: var(--bg-neutral);
    color: var(--primary-content);
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    margin-top: 1rem;
    font-size: 0.75rem;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--bg-neutral) transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media (pointer: coarse),
(max-width: 768px) {
    .tooltip:hover .tooltip-text {
        visibility: hidden;
        opacity: 0;
    }

    .tooltip-text {
        display: none;
    }
}

@media screen and (max-width: 30rem) {
    header {
        height: 4rem;
    }

    .header-inner {
        padding: 0.75rem;
    }

    .logo {
        height: 2.5rem;
        width: auto;
    }

    #btn-volume,
    #btn-game-guide {
        padding: 0 0.5rem;
        height: 2.5rem;
    }
}

@media (pointer: coarse) and (orientation: landscape) {
    header {
        z-index: 10;
        background-color: unset;
        backdrop-filter: unset;
    }

    .logo {
        display: none;
    }
}