body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-base-100);
    color: var(--base-content);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 820px;
    width: 100%;
    min-height: calc(100vh - 5rem);
    margin: auto;
    padding: 1rem;
    gap: 2rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #121314fa;
    backdrop-filter: blur(0.5rem);
    z-index: 10;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 3rem 0;
    gap: 2rem;
}

.fade-in {
    -webkit-animation: fade-in 1.2s ease-in-out both;
    animation: fade-in 1.2s ease-in-out both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.story-image {
    width: 100%;
    max-width: clamp(6rem, 4.444vw + 4.667rem, 12rem);
    height: auto;
    filter: drop-shadow(0 0 6rem var(--primary));
}

.story-container figcaption {
    font-family: "Fira Code", monospace;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--base-content);
}

.story-text {
    width: 100%;
    height: 3rem;
}

.story {
    text-align: center;
}

.story p {
    display: inline-block;
    position: relative;
    margin: 0;
    font-family: "Fira Code";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--base-content);
    text-wrap: pretty;
}

.cursor {
    display: inline-block;
    width: 0.25rem;
    height: 1.25rem;
    margin-left: 0.25rem;
    background-color: var(--primary);
    vertical-align: middle;
    position: relative;
    top: -0.1rem;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.glitch-headline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
}

.glitch-animation,
.invisible-text {
    position: absolute;
    font-size: clamp(2.5rem, 2.778vw + 1.667rem, 3rem);
    font-weight: 600;
    letter-spacing: -2px;
    color: var(--primary-content);
}

.invisible-text {
    visibility: hidden;
}

.glitch-animation:nth-child(2) {
    color: #a62662;
    animation: skewAnimation 3s infinite;
}

.glitch-animation:nth-child(3) {
    color: var(--primary-content);
    animation: glitchAnimation 3s infinite;
}

@keyframes glitchAnimation {
    7% {
        transform: none;
    }

    10% {
        transform: translate(-0.375rem, 0.125rem);
    }

    13% {
        transform: none;
    }

    20% {
        transform: none;
    }

    23% {
        transform: translate(0.75rem, 0.4375rem);
    }

    26% {
        transform: none;
    }

    40% {
        transform: none;
    }

    43% {
        transform: translate(-0.625rem, 0.5625rem);
    }

    46% {
        transform: none;
    }

    65% {
        transform: none;
    }

    68% {
        transform: translate(-0.4375rem, 0.3125rem);
    }

    71% {
        transform: none;
    }

    100% {
        transform: none;
    }
}

@keyframes skewAnimation {
    20% {
        transform: none;
    }

    23% {
        transform: skew(5deg, -5deg) translate(0.625rem, 0.3125rem);
    }

    26% {
        transform: none;
    }

    40% {
        transform: none;
    }

    43% {
        transform: skew(5deg, -10deg) translate(-0.3125rem, 0.125rem);
    }

    46% {
        transform: none;
    }

    100% {
        transform: none;
    }
}

@media screen and (max-width: 30rem) {
    main {
        min-height: calc(100vh - 4rem);
    }

    .intro-container {
        flex: 1;
        gap: 1rem;
    }

    .story-container {
        gap: 1.5rem;
    }

    .story-image {
        filter: drop-shadow(0 0 4rem var(--primary));
    }

    .intro-buttons {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .intro-buttons button {
        width: 100%;
    }
}

@media (pointer: coarse) and (orientation: landscape) {
    .logo {
        display: block;
    }
}