* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-base-100: #121314;
    --bg-base-200: #0c0d0e;
    --bg-neutral: #444444;
    --primary: #ff79c6;
    --secondary: #bd93f9;
    --accent: #ffb86c;
    --warning: #f1fa8c;
    --success: #2da179;
    --error: #e91e63;
    --base-content: #abacad;
    --primary-content: #f1f2f3;
    --track-color: #121314;
    --thumb-color: #333333;
    --thumb-hover-color: #444444;
    --backdrop-md: #000000aa;
}